body {
  font-family: 'Roboto';
  color: #fff;
  background-color: #161616;
}

h1 {
  text-transform: capitalize;
}

h1#city {
  font-weight: 200;
}

footer {
  font-size: 20px;
  padding: 50px;
}

img {
  height: 100px;
  width: 100px;
}

.App {
  text-align: center;
}

.App-header {
  /* background-color: #191818; */
  height: 150px;
  padding: 30px;
}

.App-title {
  font-size: 5em;
}

.App-intro {
  font-size: large;
}